{% extends "base.html" %}

{% block content %}
	<h1>Sign Up Page</h1>
	<form method='POST'>
		<table>
			<tr>
				<td><label for="username">Username</label></td>
				<td>
					<input type="text" name="username">
					<span class="error"></span>
				</td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td>
					<input type="password" name="password">
					<span class="error"></span>
				</td>
			</tr>
			<tr>
				<td><label for="verify">Verify Password</label></td>
				<td>
					<input type="password" name="verify">
					<span class="error"></span>
				</td>
			</tr>
			<tr>
				<td><label for="email">Email (optional)</label></td>
				<td>
					<input type="text" name="email" value="">
					<span class="error"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="Signup">
	</form>
{% endblock %}